.Form-Reg{
  padding-top: 30px;
}
.form-horizontal {
  text-align: left;
  width: 100%;
  margin-left: 34%;
}
.control-group input{
  width: 50%;
}
.sum-control-group{
  display: flex;
  justify-content: space-between;
  width: 50%;
  .control-group2, .control-group1{
    width: 100%;
    input, select{
      width: 95%;
      height: 30px;
    
    
    }
    
  }
}
.control-group2 input{
  margin-left: 15.1px;
}
.control-group2 label{
  margin-left: 15.1px !important;
}
.form-actions{
  width: 50%;
  text-align: center;
  padding-bottom: 60px;
}
.control-group {
  margin-bottom: 20px;
}
h1{
 text-align: center;
  font-family: cursive;
  color: brown;
}
